In [1]:
# conda install implicit==0.4.8

In [2]:
import pandas as pd
import numpy as np
import implicit
import dask.dataframe as dd

import warnings
warnings.filterwarnings('ignore')

In [3]:
from implicit.als import AlternatingLeastSquares
from scipy.sparse import csr_matrix

In [4]:
data = pd.read_csv('data/retail_train.csv')
# data = data.astype(np.float32)
data

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.60,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.00,1631,1,0.0,0.0
2,2375,26984851472,1,1036325,1,0.99,364,-0.30,1631,1,0.0,0.0
3,2375,26984851472,1,1082185,1,1.21,364,0.00,1631,1,0.0,0.0
4,2375,26984851472,1,8160430,1,1.50,364,-0.39,1631,1,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2396799,1613,41655820646,663,16102849,1,2.00,3262,-1.15,1231,95,0.0,0.0
2396800,1001,41655829421,663,13217063,1,1.69,3131,0.00,2231,95,0.0,0.0
2396801,1001,41655829421,663,13217800,1,1.69,3131,0.00,2231,95,0.0,0.0
2396802,1167,41656790510,663,6410462,22451,43.98,3385,-0.65,1059,95,0.0,0.0
2396803,1167,41656790510,663,6430664,1,8.00,3385,0.00,1059,95,0.0,0.0

In [5]:
data.__sizeof__()

230093312

In [6]:
for column in data.columns:
    if np.float16(data[column].max()) != np.inf:
        data[column] = data[column].astype(np.float16)
    elif np.float32(data[column].max()) != np.inf:
        data[column] = data[column].astype(np.float32)

In [7]:
data.__sizeof__()

71904248

In [8]:
# from dask.dataframe import methods

# data = data.categorize(columns=['PRODUCT_ID',])
# methods.is_categorical_dtype(data['PRODUCT_ID'])

In [9]:
data_user_item = pd.pivot_table(data[:100000], index='item_id', columns='basket_id', 
                                  values='quantity', aggfunc='sum', fill_value=0)
data_user_item

basket_id,2.698485e+10,2.698490e+10,2.698491e+10,2.698495e+10,2.698495e+10,2.698503e+10,2.698504e+10,2.698505e+10,2.698516e+10,2.698521e+10,...,2.792492e+10,2.792493e+10,2.792493e+10,2.792493e+10,2.792494e+10,2.792494e+10,2.792495e+10,2.792495e+10,2.792496e+10,2.792496e+10
item_id,,,,,,,,,,,,,,,,,,,,,
26691.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26738.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27030.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27657.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27658.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10355566.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10355920.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10356272.0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
10356605.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10364237.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
model = AlternatingLeastSquares(factors=100,
                                 regularization=0.01,
                                 iterations=15,
                                 calculate_training_loss=True,
                                 num_threads=4)

WARNING:root:Intel MKL BLAS detected. Its highly recommend to set the environment variable 'export MKL_NUM_THREADS=1' to disable its internal multithreading

In [11]:
model.fit(csr_matrix(data_user_item))

  0%|          | 0/15 [00:00<?, ?it/s]

In [12]:
list_id = pd.DataFrame(np.array(data_user_item.columns).T, columns=['id',])
list_id

                id
0     2.698485e+10
1     2.698490e+10
2     2.698491e+10
3     2.698495e+10
4     2.698495e+10
...            ...
6722  2.792494e+10
6723  2.792495e+10
6724  2.792495e+10
6725  2.792496e+10
6726  2.792496e+10

[6727 rows x 1 columns]

In [13]:
np.array([list(i) for i in model.recommend(userid=0, user_items=csr_matrix(data_user_item), N=5)])[:,0]

array([13815.,  1127.,  9961., 14637., 11351.])

In [14]:
model.user_norms.shape, model.item_norms.shape

((6727,), (22930,))

In [15]:
def recomended(x_list, k=3):
    return [np.array([list(i) for i in model.recommend(userid=x, user_items=csr_matrix(data_user_item), N=k)])[:,0] for x in x_list]

In [16]:
x = [0, 1, 2, 3]
recomended(x)

[array([13815.,  1127.,  9961.]),
 array([ 8795., 11151.,  8496.]),
 array([ 1499., 13273.,  3161.]),
 array([6724., 3122., 7360.])]

In [17]:
x = [0, 1, 2, 3]
recomended(x, 5)

[array([13815.,  1127.,  9961., 14637., 11351.]),
 array([ 8795., 11151.,  8496.,  3761.,  4425.]),
 array([ 1499., 13273.,  3161.,  9890., 15665.]),
 array([ 6724.,  3122.,  7360.,  2014., 10815.])]